<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AllTestsSuite">
    <test name="Ferivi Selenium TestNG Test">
        <classes>
            <class name="LoginTest"/>
            <class name="RegisterTest"/>
            <class name="PageCrumbsTest"/>
            <class name="CleanBasketTest"/>
            <class name="ChangeBasketTest"/>
            <class name="WomenShoesFilterTest"/>
        </classes>
    </test>
</suite>
